.about-section1{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.coach-back{
    height: 80vh;
    margin-left: 60%;
    align-self: self-end;
    position: absolute;
}