.footer-container{
    width: 100%;
    background-color: var(--primary);
    padding: 5% 15%;
}

.footer-container svg {
    width: 30px;
    height: auto;
    color: var(--tertiary);
}

.footer-container svg:hover{
    color: var(--secondary);
}

.logo-svg-1 {
    width: 100px;
}
