@import url('variables.css');

.dropdown-menu {
    background-color: var(--primary);
}

.login-nav {
    display: flex;
    background-color: var(--secondary);
    height: auto;
    align-items: center;
}

.login-nav a {
    color: var(--tertiary);
}

.login {
    font-size: small;
    height: fit-content;
    color: var(--tertiary);
}

.user-icon {
    width: 30px;
    height: auto;
}

.my-navbar a{
    color: var(--tertiary);
    font-weight: 600; 
}

.my-navbar a:hover{
    color: var(--secondary);
}

.my-navbar .container{
    transition: top 0.3s ease-in-out;
}

.my-navbar{
    background-color: rgba(0, 0, 0, 0.9);
    height: 90px;
}

.my-navbar .logo2 {
    fill: white;
    width: auto;
    height: 75px;
}

.my-navbar .logo2 :hover {
    fill: var(--secondary);
}

.my-navbar .logo-svg-1 {
    height: 75px;
}

.container-fluid{
    flex-direction: row-reverse;
}