.my-navbar{
    background-color: rgba(0, 0, 0, 0.9);
    height: 90px;
}

.my-navbar .container{
    transition: top 0.3s ease-in-out;
}

.my-navbar a{
    color: var(--tertiary);
    font-weight: 600; 
}

.my-navbar a:hover{
    color: var(--secondary);
}

.navbar-brand{
    width: fit-content;
}

.logo2 {
    fill: white;
    width: auto;
    height: 75px;
}

.logo2 :hover {
    fill: var(--secondary);
}

.logo-svg-1 {
    height: 75px;
}


