@import url('variables.css');

.home-section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0,0.5);
}

.cover-page .logo-svg-2 {
    width: auto;
    height: 500px;
    fill: var(--tertiary);
}

.logo-container {   
    display: inline-flex;
    text-align: center;
    justify-content: center;
    width: 100vw;
}

.paralax00{    
    background-image: url('../img/team.jpg');
    height: 100vh;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


.paralax01-text {
    background-color: var(--primary);
    display: flex;
    flex-direction: column;
}


.paralax01{
    background-image: url('../img/kids.jpg');
    height: 100vh;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.paralax01 h1{
    visibility: hidden;
}

.home-carousel {
    width: 70vw;    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.carousel{
    width: 1000px;
}


.paralax02{    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;    
    background-image: url('../img/kids.jpg');
    height: 100vh;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}