/* smartphones */

@media (max-width: 480px){
    h1 {
        font-weight: 500;
        font-size: 2em;
        text-align: center;
    }

    h2 {
        font-weight: 300;
        font-size: 1em;
    }

    .form-group{
        width: 80%;
    }

    /* home */
    .home-carousel{
        height: 50vh;
    }
    .home-carousel .carousel{
        width: 300px;
    }

    .paralax.bg{
        height: 50vh;
    }
    /* home */

    /* footer */
    .copyright{
        flex-direction: column-reverse;
        text-align: center;
    }
    /* footer */
    
}

/* small-medium devices */

@media (max-width: 991px) {
    @import url(base.css);

    /* change the color of the navbar toggle button */
    .custom-toggler.navbar-toggler {
        border-color: rgb(255, 255, 255);
    }
    .custom-toggler .navbar-toggler-icon {
        background-image: url(
    "data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }
}

/* only-larger devices */

@media (min-width: 992px) {
    h1 {
        font-weight: 900;
        font-size: 3em;
    }
}
