:root {
    --primary: rgb(0, 0, 0);
    --secondary: rgb(212, 149, 41);
    --tertiary: rgb(255, 255, 255);
    --quaternary: rgb(6, 41, 87);
}

.bg-dark{
    background-color: var(--primary) !important;
}