{% extends "base.html" %}
{% load static %}
{% block title %}About Us{% endblock title %}
{% block content %}
<main>
    <!-- section -->
   
     <section class="about-section1">
      <img class="logo-head mx-auto" src="{% static 'source/img/lionhead.png' %}" alt="lion">
      <article>
         <h2>ABOUT US</h2>
         <p>
         LA Soccer Evolution is a youth soccer program in West Los Angeles. 

         Using techniques and methodology acquired after years of experience in Brazil, we coach our players so they develop their skills and knowledge of the beautiful game in a fun and uplifting environment in which mistakes are part of the learning process. 
         </p>
         <p>
         Ousadia e Alegria (Boldness and Joy) is a Brazilian expression that defines what we seek: dare to try (new moves, dribbling past that difficult opponent, etc.) and play with joy.
         
         Using the same standards used by some of the biggest stars of SELEÇÃO BRASILEIRA DE FUTEBOL, the Brazilian National Team, our main focus is on individual player development.
         
         Soccer, futsal, street soccer, and beach soccer are our“tools” to make the magic happen!
         </p>
         <p class="w-75">
         Combined with individual development, each athlete learns how to best offer his capabilities and skills to become a better teammate, no matter in what stage of physical and cognitive development they are. The Evolution will raise their self-esteem and confidence to perform at higher levels.
         
         We have players in more than 10 different top clubs in Southern California and there’s no conflict at all for us. We just want our athletes to improve.
         </p>
     
         <h2>OUR MISSION</h2>
         <p class="w-75">
         Create a positive environment, always play fair, respect the game and show sportmanship, maintain the Team Spirit, provide athlete opportunities for interpersonal relationships and explore the creativity in the sport. 
         </p>
         <h2>OUR WORK</h2>
         <p class="w-75">
         Futebol with boldness and joy to allow each player to discover their game and have fun with the guidance of certified coaches. Our main goal is to work and develop the potential of each child and youth for MODERN SOCCER and for life; highlighting discipline, respect for all, self-confidence, teamwork, responsibility, commitment, and patience. This is the foundation of our program.
         </p>
         <p style="color: var(--primary);">.</p> <!-- adds an end gap -->         
      </article>  
       <img class="coach-back " src="{% static 'source/img/coach-bg-none.png' %}" alt="">
     </section>
      


</main>	
{% endblock content %}
{% block script %}

{% endblock script %}