<!DOCTYPE html>
{% load static %}
<html lang="en">
	<head>
	{% include 'head.html' %}
	<title>{% block title %}Title Here{% endblock title %}</title>
	</head>
	<body>
		<header >
			{% include 'header.html' %}
		</header>
		<div class="global-container">
				{% block content %}
					Content Here
				{% endblock content %}
		</div>
		{% include 'contact.html' %}

        {% include 'footer.html' %}
		{% block script %}Scripts Here{% endblock script %}
		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	</body>
</html>