{% load static %}

<nav class="navbar fixed-top navbar-expand-lg bg-dark my-navbar" id="navbar">
	<div class="container-fluid">		
		<!-- Logo -->
		<a class="navbar-brand d-flex mx-auto justify-content-center fixed-top " href="{% url 'home' %}">
			<img src="{% static 'source/img/lase-logo.svg' %}" class="logo-svg-1" alt="Logo" hidden>			
			<svg class="logo2"  xml:space="preserve" viewBox="0 0 217.9 162.3">
				<use  xlink:href="{% static 'source/img/logo-grafite.svg' %}#art"></use>
			</svg>
		</a>
				
		<!-- Toggle button -->
		<button class="navbar-toggler collapsed custom-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<!-- Menu -->
		<div class="navbar-collapse collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto">
				<li class="nav-item">
					<a class="nav-link" href="{% url 'home' %}">HOME</a>
				</li>		
				<li class="nav-item">
					<a class="nav-link" href="{% url 'soccer-training' %}">SOCCER TRAINING</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'camps' %}">CAMPS</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'schools' %}">SCHOOLS</a>
				</li>
				<li class="nav-item">
				<a class="nav-link" href="{% url 'about-us' %}">ABOUT US</a>
				</li>
			</ul>
		</div>		
	</div>
</nav>
